// import fonts from google fonts
@import url('https://fonts.googleapis.com/css?family=Bevan|Raleway|Special+Elite');

// Change Bootstrap variables


    $headings-font-family: 'Bevan', cursive;
    $font-family: 'Special Elite', cursive;
    $font-family-base: 'Raleway', sans-serif;

// Import all of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
