// import fonts from google fonts
@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua|Raleway|Special+Elite');

// Change Bootstrap variables
    $font-family-base: 'Raleway', sans-serif;
    $headings-font-family: 'Modern Antiqua', cursive;
    $font-size-base: 1.25rem;

// Import all of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
